Review nonce bytes and header packing

## 1. review nonce bytes
As suggested by @sammy007:

```
If AE will be a successful project we will see ASIC in 1-2 years, current ASIC performance over CPU

on equihash for example is dramatic, so it probably wise to just use 32 bytes since the start and 

don't bother any more, no need for pools to upgrade consensus in the future, no need for HF, etc.
```

Discussion link:

[adds a stratum specification](https://github.com/aeternity/protocol/pull/161#discussion_r211685477)


## 2. review header packing

```erlang
-spec pack_header_and_nonce(binary(), aec_pow:nonce()) -> string().
pack_header_and_nonce(Hash, Nonce) when byte_size(Hash) == 32 ->
    %% Cuckoo originally uses 32-bit nonces inserted at the end of its 80-byte buffer.
    %% This buffer is hashed into the keys used by the main algorithm.
    %%
    %% We insert our 64-bit Nonce right after the hash of the block header We
    %% base64-encode both the hash of the block header and the nonce and pass
    %% the resulting command-line friendly string with the -h option to Cuckoo.
    %%
    %% The SHA256 hash is 32 bytes (44 chars base64-encoded), the nonce is 8 bytes
    %% (12 chars base64-encoded). That leaves plenty of room (80 - 56 = 24
    %% bytes) for cuckoo to put its nonce (which will be 0 in our case) in.
    %%
    %% (Base64 encoding: see RFC 3548, Section 3:
    %% https://tools.ietf.org/html/rfc3548#page-4
    %% converts every triplet of bytes to 4 characters: from N bytes to 4*ceil(N/3)
    %% bytes.)
    %%
    %% Like Cuckoo, we use little-endian for the nonce here.
    NonceStr = base64:encode_to_string(<<Nonce:64/little-unsigned-integer>>),
    HashStr  = base64:encode_to_string(Hash),
    %% Cuckoo will automatically fill bytes not given with -h option to 0, thus
    %% we need only return the two base64 encoded strings concatenated.
    %% 44 + 12 = 56 bytes
    HashStr ++ NonceStr.
```

Using base64 encoding is command-line friendly, but it shouldn't be a part of consensus, header hash and nonce should be concatenated directly.

~~When using base64 encoding, a decode option should be added to cuckoo and used.~~
Since cuckoo has `-x` option, we should hex encode the concatenated binary, and let cuckoo decode it.





ping?

@hanssv please correct me if i'm wrong. : )

The `base64` encoding was originally for getting a command line friendly nonce/input... One could as well use the hex encoded data, and achieve the same thing. We will discuss this and see what the conclusion is.

Since mainnet was launched, consider it was resolved.